.app-css{
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 90px;
  background-color: white;
}
@media (max-width: 360px) {

  .app-css {
      padding-left: 8px;
      padding-right: 8px;}

  }