.SearchProduct{
  width: 800px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  height: 900px;

}
.product{
  display: flex;
}

.product-img{
  height: 526px;
  width: 50%;
  overflow: hidden;
}
.product-img img{
  height: 100%;
  width: 100%;
}

@media (max-width: 360px) {
  .product{
    display: block;
    padding: 23px;
  }
  .product-img {
    height: 392px;
    width: 100%;
  }
  .SearchProduct{
    height: 900px;
  
  }

}